<h1 id="tableLabel">Movies</h1>

<p>This component demonstrates fetching movies from the server.</p>

<button mat-raised-button color="primary" [routerLink]="['/movies-add']">Add movies</button>
<br/>
<br/>

<p *ngIf="!movies"><em>Loading...</em></p>

<table mat-table [dataSource]="movies" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef style="width:25%">Name</th>
    <td mat-cell *matCellDef="let movie"> {{movie.name}} </td>
  </ng-container>

  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef style="width:25%">Genre</th>
    <td mat-cell *matCellDef="let movie"> {{movie.genre}} </td>
  </ng-container>

  <ng-container matColumnDef="star">
    <th mat-header-cell *matHeaderCellDef style="width:25%">Star</th>
    <td mat-cell *matCellDef="let movie">☆ {{movie.star}} ☆</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="width:15%">Actions</th>
    <td mat-cell *matCellDef="let movie">
      <section>
        <div>
          <button mat-icon-button color="primary" matTooltip="Edit">
            <mat-icon aria-hidden="false" aria-label="Example home icon" [routerLink]="['/movies-update',movie.id]" style="cursor:pointer">edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Info">
            <mat-icon aria-hidden="false" aria-label="Example home icon" [routerLink]="['/movies-details',movie.id]" style="cursor:pointer">info</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Delete">
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="deleteMovie(movie)" style="cursor:pointer">delete</mat-icon>
          </button>

        </div>
      </section>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay "></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay ;"></tr>
</table>
