<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Add movie</h2>

    <mat-form-field>
      <input matInput type="text" placeholder="Name" [(ngModel)]="movie.name">
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput type="text" placeholder="Genre" [(ngModel)]="movie.genre">
    </mat-form-field>
    <br />
    ☆
    <mat-slider min="0" max="10" step="1" placeholder="Star" thumbLabel [displayWith]="formatLabel" [(ngModel)]="movie.star"></mat-slider>
    <br />

    <button mat-raised-button color="primary" (click)="saveMovie()">Save Movie</button>
    <br />
    <button mat-raised-button color="primary" (click)="backToList()">Back</button>
  </mat-card-content>
 </mat-card>
 
